<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Active Page</title>
    <style type="text/css">
      .outSide{margin-top: 15px;border-bottom: 1px solid #ccc;margin-bottom: 10px;}
    </style>

    <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <form class="form-inline">
    <h1><img src="./image/logo.png" alt="logo">Active Success !!</h1></form>
    
    <script src="./js/jq.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script type="text/javascript">
    //  <% %>
    //  (()=>{
    //   $.ajax({
    //             'url':'http://localhost:9001/check/checkpage',
    //             'type':'get',
               
    //              success:function(data){
    //                                         if (data.ok==1) {
    //                                             alert("激活成功！登录去吧！！");
    //                                             alert(data.msg)
    //                                         }
    //                                         else{
    //                                             alert(data.msg);
    //                                         }
    //                                     }
    //  })
    // })
      
    //  </script>

  </body>
  </html>